/*
TEAL
009B95 medium
1D7471 dark
006561 darkest
33CDC7 light
5CCDC9 lightest

ORANGE
FF7100 bright
BF6F30 brown
A64A00 dark
FF9540 middle
FFB173 peach
*/

body {
	background-color: #006561;
	color: #33CDC7;
	font-family: "Helvetica Neue", "Helvetica", "Segoe UI", sans-serif;
}

.container {
	min-width: 300px;
	max-width: 600px;
	margin: 8px auto;
	border: 1px solid #009B95;
	background-color: #1D7471;
}

footer {
	min-width: 300px;
	max-width: 600px;
	margin: 8px auto;
}

button {
	color: #A64A00;
	background-color: #FF9540;
	border: none;
	padding: 0.5em;
}
button:hover {
	background-color: #BF6F30;
}
button:active {
	color: #FF9540;
	background-color: #A64A00;
}

a {
	color: #FF7100;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	color: #FF9540;
}
a:visited {
	color: #FF7100;
}

h1 {
	background-color: #33CDC7;
	color: #006561;
	margin-top: 0;
}

div.player {
	font-size: 130%;
	margin-bottom: 3px;
}

div.player:hover {
	background-color: #1D7471;
}

.player-score {
	color: #FF7100;
}

.controls {
	margin-top: 1em;
}